/*=========== Background Utilities ==========*/
.gradient-dark {
	@include linearGradient($light-dark, $gray-900);
}
.gradient-primary {
	@include linearGradient($light-primary, $blue);
	* {
		color: $white;
	}
}
.gradient-success {
	@include linearGradient($light-success, $green);
	* {
		color: $white;
	}
}
.gradient-info {
	@include linearGradient($light-info, $cyan);
	* {
		color: $white;
	}
}
.gradient-danger {
	@include linearGradient($light-danger, $red);
	* {
		color: $white;
	}
}
.gradient-warning {
	@include linearGradient($light-warning, $yellow);
	* {
		color: $white;
	}
}
.gradient-pink {
	@include linearGradient($light-pink, $pink);
	* {
		color: $white;
	}
}
.gradient-purple {
	background-image: linear-gradient(0deg, #AC32E4 0%, #7918F2 47.87%, #4801FF 100%);
}
.facebook-color {
	color: #1976D2;
}
.google-color {
	color: #D95946;
}
.twitter-color {
	color: #55ACEE;
}
.facebook-bg {
	background-color: #203CC0;
	color: $white;
}
.google-bg {
	background-color: #11ABE9;
	color: $white;
}
.twitter-bg {
	background-color: #E84C46;
	color: $white;
}
